@model ProcurementSystem.Models.Supplier

@{
    ViewBag.Title = "Видалення Постачальника";
}

<h2>Видалення Постачальника</h2>

<h3>Ви впевнені, що хочете видалити цього постачальника?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div>
        <h4>Постачальник</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contacts)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contacts)
            </dd>
        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-danger" /> |
            @Html.ActionLink("Повернутися до Списку", "Index")
        </div>
    </div>
}