@model ProcurementSystem.Models.Supplier

@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>Постачальник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contacts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contacts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад до списку", "Index")
</p>