@model ProcurementSystem.Models.Invoice

@{
    ViewBag.Title = "Видалення Рахунку";
}

<h2>@ViewBag.Title</h2>

<h3 class="text-danger">Ви впевнені, що хочете видалити це?</h3>
<div>
    <h4>Рахунок</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Замовлення
        </dt>
        <dd>
            № @Html.DisplayFor(model => model.Order.Id) (від @Html.DisplayFor(model => model.Order.User.Login))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd>
            @Model.InvoiceDate.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin-top: 15px;">
            <input type="submit" value="Видалити" class="btn btn-danger" /> |
            @Html.ActionLink("Назад до списку", "Index")
        </div>
    }
</div>