@model ProcurementSystem.Models.Invoice

@{
    ViewBag.Title = "Деталі Рахунку";
}

<h2>Деталі Рахунку #@Model.Id</h2>

<div>
    <h4>Рахунок</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Замовлення #
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)
            (@Html.ActionLink("Переглянути замовлення", "Details", "Orders", new { id = Model.OrderId }, null))
            </dt>

        <dt>
            Користувач
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.User.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Model.Amount.ToString("C")
        </dd>

        <dt>
            Оплатити до
        </dt>
        <dd>
            @Model.DueDate.ToString("dd.MM.yyyy")
        </dd>

        <dt>
            Статус оплати
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Повернутися до Списку", "Index")
</p>