@model ProcurementSystem.Models.Order

@{
    ViewBag.Title = "Видалення Замовлення";
}

<h2>Видалення Замовлення</h2>

<h3>Ви впевнені, що хочете видалити це замовлення?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div>
        <h4>Замовлення #@Model.Id</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User.Login)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </dt>
            <dd>
                @Model.TotalAmount.ToString("C")
            </dd>

        </dl>


        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-danger" /> |
            @Html.ActionLink("Повернутися до Списку", "Index")
        </div>
    </div>
}