@model ProcurementSystem.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Деталі Замовлення №@Model.Id</h2>

@* ДОДАНО: Блок для генерації рахунку *@
@if (ViewBag.CanGenerateInvoice)
{
    <div class="alert alert-info">
        <p>Для цього замовлення ще не створено рахунок-фактуру.</p>
        @using (Html.BeginForm("GenerateInvoice", "Invoices", new { orderId = Model.Id }, FormMethod.Post, new { @style = "display:inline;" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Створити Рахунок-фактуру" class="btn btn-success" />
        }
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    <h4>Позиції Замовлення</h4>
    @if (Model.OrderItems != null && Model.OrderItems.Any())
    {
        <table class="table">
            <tr>
                <th>Товар</th>
                <th>Категорія</th>
                <th>Постачальник</th>
                <th>Кількість</th>
                <th>Ціна за од.</th>
                <th>Сума</th>
            </tr>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Offer.Product.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Offer.Product.Category.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Offer.Supplier.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Позиції замовлення відсутні.</p>
    }

    <h4>Рахунки по цьому замовленню</h4>
    @if (Model.Invoices != null && Model.Invoices.Any())
    {
        <table class="table">
            <tr>
                <th>Номер Рахунку</th>
                <th>Сума</th>
                <th>Дата оплати до</th>
                <th>Статус</th>
                <th></th>
            </tr>
            @foreach (var invoice in Model.Invoices)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => invoice.Id)</td>
                    <td>@Html.DisplayFor(modelItem => invoice.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => invoice.DueDate)</td>
                    <td>@Html.DisplayFor(modelItem => invoice.PaymentStatus)</td>
                    <td>
                        @Html.ActionLink("До деталей", "Details", "Invoices", new { id = invoice.Id }, new { @class = "btn btn-xs btn-default" })
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>Рахунки по цьому замовленню відсутні.</p>
    }
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Повернутися до списку", "Index")
</p>