@model ProcurementSystem.Models.Order
@using ProcurementSystem.Models.Enums

@{
    ViewBag.Title = "Деталі заявки";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Заявка №@Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.OrderDate)</dt>
        <dd>@Html.DisplayFor(model => model.OrderDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Html.DisplayFor(model => model.Status)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>@Html.DisplayNameFor(model => model.TotalAmount)</dt>
        <dd>@Html.DisplayFor(model => model.TotalAmount)</dd>

        <dt>@Html.DisplayNameFor(model => model.User)</dt>
        <dd>@(Model.User != null ? Model.User.Login : "N/A")</dd>
    </dl>
</div>

<hr />

<h4>Товари в заявці</h4>


@if ((User.IsInRole("СПІВРОБІТНИК") || User.IsInRole("МЕНЕДЖЕР")) && Model.Status == OrderStatus.ВІДПРАВЛЕНО)
{
    <p>
        @Html.ActionLink("Додати товар до заявки", "Create", "OrderItems", new { orderId = Model.Id }, new { @class = "btn btn-primary" })
    </p>
}

<table class="table">
    <tr>
        <th>Товар (Пропозиція)</th>
        <th>Кількість</th>
        <th>Ціна за одиницю</th>
        <th></th>
    </tr>

    @if (Model.OrderItems != null)
    {
        foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>
                    @(item.Offer?.Product?.Name ?? "Товар не вказано")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @if (Model.Status == OrderStatus.ВІДПРАВЛЕНО)
                    {
                        @Html.ActionLink("Редагувати", "Edit", "OrderItems", new { id = item.Id }, null) @:|
                        @Html.ActionLink("Видалити", "Delete", "OrderItems", new { id = item.Id }, null)
                    }
                </td>
            </tr>
        }
    }
</table>

<p>
    @Html.ActionLink("Назад до списку", "Index")
</p>