@model IEnumerable<ProcurementSystem.Models.Order>

@{
    ViewBag.Title = "Замовлення";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Створити Нове", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TotalAmount)
        </th>
        <th>
            Користувач
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @item.OrderDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @(item.User != null ? item.User.Login : String.Empty)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Деталі", "Details", new { id = item.Id }) |
                @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>