@model IEnumerable<ProcurementSystem.Models.Order>

@{
    ViewBag.Title = "Замовлення";
}

<h2>@ViewBag.Title</h2>

<p>
    @if (User.IsInRole("СПІВРОБІТНИК"))
    {
        @Html.ActionLink("Створити Нове", "Create", null, new { @class = "btn btn-primary" })
    }
</p>
<table class="table table-main-view table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            Користувач
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @item.OrderDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @(item.User != null ? item.User.Login : String.Empty)
                </td>
                <td>

                    @Html.ActionLink("Деталі", "Details", new { id = item.Id })

                    @if (User.IsInRole("МЕНЕДЖЕР") || User.IsInRole("АДМІНІСТРАТОР"))
                    {
                        @: | @Html.ActionLink("Редагувати", "Edit", new { id = item.Id })
                        @: | @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    }

</table>