@model ProcurementSystem.Models.Category

@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>Категорія</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагування", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад до списку", "Index")
</p>
