@model IEnumerable<ProcurementSystem.Models.Category>

@{
    ViewBag.Title = "Категорії";
}

<h2>Категорії товарів</h2>

<p>
    @Html.ActionLink("Створити нову", "Create")
</p>
<table class="table table-main-view table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Деталі", "Details", new { id = item.Id }) |
                @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
