@model IEnumerable<ProcurementSystem.Models.ReportOrder>

@{
    ViewBag.Title = "Зв'язки Звіт-Замовлення";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Створити Новий Зв'язок", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Report.Type)
        </th>
        <th>
            Замовлення
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenerationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Report.Type)
            </td>
            <td>
                № @Html.DisplayFor(modelItem => item.Order.Id) (від @Html.DisplayFor(modelItem => item.Order.User.Login))
            </td>
            <td>
                @item.GenerationDate.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Деталі", "Details", new { id = item.Id }) |
                @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>